.home {
	background: rgb(200,109,215);
	background: linear-gradient(22deg, rgba(200,109,215,1) 0%, rgba(48,35,174,1) 100%);
	padding: 0%;
	margin: 0%;
	width: 100vw;
	height: 100vh;
	
}
.layout{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 130px;
}
.detail{
	position: relative;
	top:50%;
	color: whitesmoke;
	
}
.detail h1{
	font-weight: 600;
	font-size: 55px;
}
.detail p{
	font-weight: 400;
	font-size: 25px;
}
.photo img{
	width: 80%;
	height: 80%;
}
.photo{
	/* border: solid 2px red; */
	margin-top: 90px;
	display: flex;
	justify-content: center;
}

