.home {
	background: rgb(200,109,215);
	background: linear-gradient(22deg, rgba(200,109,215,1) 0%, rgba(48,35,174,1) 100%);
	padding: 0%;
	margin: 0%;
	width: 100vw;
	height: 100vh;
	
}
.layout{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10%;
}
.detail{
	margin-top: 10%;
	color: whitesmoke;
	/* border: 2px solid salmon; */
}
.detail h1{
	font-weight: 600;
	font-size: 60px;
	margin-bottom: 50px;
}
.detail p{
	font-weight: 400;
	font-size: 30px;
}
.photo img{
	width: 90%;
	height: 90%;
}
.photo{
	/* border: solid 2px red; */
	position: relative;
	right: 5%;
	margin-top: 90px;
	display: flex;
	justify-content: center;
}
.detail button{
	color: whitesmoke;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	background-color:#F49E5D;
	border: none;
	padding: 15px 50px;
	border-radius:25px ;
	/* margin-top: 5%; */
}
